/* body {
    background-color: var(--background-color);
    
}

  .dark-theme {
    --background-color: #e40f0f;
    --text-color: #ffffff;
    --text-hover-color: #797979;
  }
  
  .light-theme {
    --background-color: #e00606;
    --text-color: #fbff00;
    --text-hover-color: #f10000;
  } */